@function vw($px, $base: 1440) {
  @return ($px / $base) * 100vw;
}

@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Tangerine:wght@400;700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#hero {
  height: 100vh;
  width: 100vw;
  display: flex;

  background-image: url('/assets/bgHero.jpg');
  background-size: cover;
  background-position: center;

  h1 {
    margin: 0;
    font-size: vw(100);
    font-family: 'Almendra SC', serif;
  }

  #left {
    width: 55%;
    display: flex;
    align-items: center;
    padding: vw(32);
  }
  #right {
    width: 45%;
    box-shadow: 0 30px 80px rgba(0,0,0,0.7), inset 0 20px 60px rgba(0,0,0,0.35);
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.stained {
  -webkit-mask-image: url('/assets/stain.png');
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('/assets/stain.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  width: vw(500);
  height: vw(500);
  object-fit: cover;
  margin-left: vw(150);
}

#horContainer {
  position: relative;
  display: flex;
  width: max-content;
  gap: vw(400);
  height: 100vh;

  background: url("/assets/bg.png");
  background-size: auto 100%;
  background-repeat: repeat-x;

  color: #242424;

  .townContainer {
    display: flex;
    gap: vw(150);
    padding: vw(32);

    .titleContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        margin: 0;
        font-size: vw(90);
        font-family: 'Almendra SC', serif;
        
      }
    }

    .textContainer {
      display: flex;
      gap: vw(200);

      font-family: 'Tangerine', cursive;
      font-weight: 800;

      :first-child {
        align-self: center;
      }

      :nth-child(2) {
        padding-top: vw(100);
      }

      :nth-child(3) {
        align-self: end;
        padding-bottom: vw(100);
      }

      p {
        max-width: vw(550);
        font-size: vw(20);
      }
    }
  }
}

#nextContent {
  height: 100vh;
}